@font-face {
	font-family: 'impactreg';
	src: url('../fonts/impactreg.eot');
	src: local('impactreg'), url('../fonts/impactreg.woff') format('woff'), url('../fonts/impactreg.ttf') format('truetype');
}

body {
	background-color:#222;
	height: 100%;
	font-family:'impactreg' !important;
}



.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #333;
   position:absolute;
   bottom:0;

}

.container .text-muted {
  margin: 10px 0;
  color: #fff;
  position-bottom: 0px;
}

.half-screen {
        width: 49.5%;
}
.left { float: left; }
.right{ float: right; }

.img-container{
	height: 40em;
	overflow: hidden;
}
.background-img{
	width: auto;
	height: auto;
	max-width: 100%;
  max-height: 100%;
	z-index:-3;
}

.centered {
  position: fixed;
	margin: 0 auto;
  transform: translateX( -50%);	
	max-width: 416px;
}

.middle{
	top: 25%;
}

.parallelogram-left {
	position:absolute;
	width: 100%;
    height: 100%;
	left:0em;
	z-index:-1;
    transform: skew(35deg);
    -o-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -webkit-transform: skew(35deg);
}

.parallelogram-left-small {
	position:absolute;
	width: 100%;
    height: 100%;
	left:0em;
	z-index:-2;
    transform: skew(35deg);
    -o-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -webkit-transform: skew(35deg);
}

.parallelogram-right {
	position:absolute;
	width: 130%;
	height: 100%;
	left:0%;
	z-index:-1;
    transform: skew(-35deg);
    -o-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
}


.parallelogram-right-small {
	position:absolute;
	width: 100%;
	height: 100%;
	left:20%;
	z-index:-2;
    transform: skew(-35deg);
    -o-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
}

.win{
	background-color: rgb(81,234,196);
}

.loss{
	background-color: rgb(200, 110,104);
}

.draw{
	background-color: rgb(109, 170, 201);
}

.semi-transparent{
	opacity: 0.8;
}

.transparent{
	opacity: 0.35;
}

.name{
	background-color: rgb(255, 255, 255);
}
.name-sign{
		position:absolute;
		top:20%;
}
.number {
	color:#fff;
}



h1,h2,h3,h4,h5 {
 color:#111;
 font-family:'impactreg' !important;
 margin:auto !important;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

.centered {
  left: 50%;
}

.img-container{
	width: 100%;
	height:29em;
	overflow: hidden;
}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

.centered {
  left: 50%;
}

.img-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	.centered {
	  left: 50%;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.img-container{
		width: 100%;
		height: 40em;
		overflow: hidden;
	}
		
	.centered {
	  left: 50%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

.img-container{
	width: 100%;
	height: 40em;
	overflow: hidden;
}

.centered {
  left: 50%;
}
}
